<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>FSharp</string>
	<key>uuid</key>
	<string>A4550BCF-4CB9-4FF0-BC35-2E17D22024A3</string>
</dict>
</plist>
